.banner {
  border-radius: 5px;

    .banner-menu {
      display: flex;
      align-items: center;
      
      .nav-link {
        text-decoration: none;
        color: #fff;
        margin: 0 10px;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  