.banner {
    border-radius: 5px;
  
    .navbar {
      background-color: #FFC0CB;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
  
      .nav-link {
        text-decoration: none;
        color: #fff;
        margin: 0 10px;
        font-weight: bold;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  